@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
html{
    scroll-behavior: smooth;
}

.landing{
    background-image: url('../images/backgrounds/first.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black ;
    text-align: center;
    padding-top: 17%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.landing h1{
    padding: 2px;
    margin: 5px;
}
.landing p{
    padding: 2px;
}

    
